/* Banner design */
.banner {
  height: 100vh;
  /*if you have a 70px navbar => height: calc(100vh - 70px) */
  background-size: cover;
  color: $gray-lighter;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
  font-size: 52px;
  }

  p {
  color: $gray-light;
  font-size: 24px;
  padding: 0 0 60px 0;
  }
}

