.features img{
  width: 100px;
}

.features h2 {
  font-size: 20px;
  font-weight: 900;
}

.wrapper-grey {
  background-color: lightgray;
  padding: 100px 0px;
}

/*
.newsletter {
  padding: 100px;
}

.icons {
  padding: 0 0 0 80px;
}

.challenge-description {
  padding: 0 80px 0 0;
}

*/
