/* Footer design */
#footer {
  color: rgb(204,204,204);
  background-color: rgb(51,51,51);
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer i {
  color: rgb(204,204,204);
  font-size: 30px;
  /* padding: 20px 10px; */
}

.fa-youtube:hover {
  color: yellow;
}

.fa-instagram:hover {
  color: yellow;
}

.fa-facebook:hover {
  color: yellow;
}

.fa-twitter:hover {
  color: yellow;
}
