/* Footer design */
#footer {
  color: $brand-color;
  background-color: $gray;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: $gray-lighter;
    font-size: 30px;
    &:hover {
      color: $yellow;
    }
  }
}

